<h1 class='text-center mt-5'>Edit Store</h1>
<p class='text-center'>Please fill the following form:</p>

<div class="container mt-5 border border-secondary p-4 rounded" style="width:650px; background-color: white">
  <%= simple_form_for (@store) do |f| %>
    <%= f.input :name, label: 'Name', placeholder: 'Enter the store name: Ex. Tienda Los Molinos' %>
    <%= f.input :address, label: 'Address', placeholder: 'Please enter the store address' %>
    <%= f.association :categories,  input_html: { multiple: true }, as: :check_boxes  %>
    <%= f.submit "Submit", class: "btn btn-success px-4", style:"width:100%;"%>
  <% end %>
</div>

<br>

<div class="container text-center">
  <%= link_to 'Back', stores_path %>
</div>