<div class="container-md">
  <h5 class="mt-5"> Stores </h5> <%= link_to "Add Store", new_store_path, class: "btn btn-success"%>
    <div class="d-flex mt-3" style="width:100%">
      <div class="row">
        <% @stores.each do |store| %>
          <div class="card m-2 rounded-card px-0 shadow" style="width: 18rem;">
           <%= link_to store do%>
            <div class="card-body">
              <h5 class="card-title"><%= store.name %></h5>
              <p class="card-text">Address: <%= store.address %></p>
            </div>
              <p class="text-center">
                <%= link_to "Edit", edit_store_path(store), class:'btn btn-warning' %> 
                <%= button_to "Delete", store, data: { turbo_confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger"%>
              </p>
            </div>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <%= link_to 'Back', repair_requests_path %>
</div>